*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: sans-serif;
}

html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  outline: none;
  border: none;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
.app{
    /* background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%); 
    */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
    
}
.container{
    max-width: 800px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}
.container-waper{
    display: block;
    
}
td{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgb(136, 129, 129);
    border-radius: 4px;

    
}
td:hover{
    background-color: black;
    opacity: 0.4;
}
.header{
    position: relative;
    left: 50%;
    transform: translateX(-16%);
    color: black;
    font-size: 40px;
    padding: 50px;
    margin: 0 auto;
    font-family: system-ui;
    font-style: italic;
    font-weight: 800;
    
}
.red{
    color: red;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
    
}
.blue{
    color: rgb(0, 28, 189);
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}
#Demo{
    display: block;
    border: 5px solid rgb(14, 2, 2);
    border-radius: 10px;
    padding: 5px;
}

